/* Colors */

$white-color: rgb(255, 255, 255);
$white-smoke-color: rgb(252, 252, 252);
$grey-color: #777;
$grey-color-secondary: #999;
$black-color: rgb(20, 20, 20);
$bit-black-color: rgb(50, 50, 50);
$light-green-opacity: rgba(116, 232, 49, 0.7);
$dark-green-opacity: rgba(60, 148, 10, 0.7);
$dark-grey-opacity: rgba(0, 0, 0, 0.2);
$light-grey-color: #eee;
$light-green: rgb(91, 207, 24);
$dark-green: rgb(6, 124, 6);
$light-orange: rgb(255, 178, 36);
$dark-orange: rgb(237, 108, 2);
$light-blue: rgb(33, 132, 252);
$dark-blue: rgb(88, 2, 201);

// Fonts

$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 4rem;
