body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1rem; */
  line-height: 1.7;
  color: $grey-color;
}

.heading-primary {
  color: $white-color;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* Animation */
    animation-name: moveToRight;
    animation-duration: 2s;

    @include respon(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    /* Animation */
    animation-name: moveToLeft;
    animation-duration: 2s;

    @include respon(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  -webkit-background-clip: text;
  color: transparent;

  @include respon(tab-por) {
    font-size: 3rem;
  }

  @include respon(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
