.footer {
  background-color: $bit-black-color;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo {
    display: block;
    width: 15rem;
    height: auto;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $light-grey-color;
      text-decoration: none;
      font-size: 1.4rem;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover {
      color: $light-green;
      text-shadow: 0 0 1rem $light-green;
    }
  }

  &__navigation {
    border-top: 1px solid $grey-color;
    padding-top: 2rem;
    display: inline-block;
  }

  &__copyright {
    color: $light-grey-color;
    font-size: 1.4rem;
    border-top: 1px solid $grey-color;
    padding-top: 2rem;
    width: 80%;
    float: right;
  }
}
